.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-Grey-light-1);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
}

.header {
    display: flex;
    justify-content: flex-start;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-Gray-light-2);

    .title-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: center;

        h1 {
            display: flex;
            align-items: center;
            font-size: 2.5rem;
        }

        h2 {
            display: flex;
            align-items: center;
            font-size: 2rem;
        }
    }
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-Grey-dark-1);

    display: flex;
    flex: 0 0 20%;
    flex-direction: column;
    justify-content: space-between;

}

.summaries {
    background-color: #fff;
    background-color: orangered;
    height: 100rem;

    flex: 1;
}
